.aboutPage-container {
  width: min(100vw);
  max-width: 1920px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* MAIN SECTION START */
.aboutPage-container .main-content-container {
  width: 100%;
  max-width: 1280px;
  padding: 0 110px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
}
/* MAIN SECTION END */
