/* CONTACT PAGE START */
.contactPage-container {
  width: min(100vw);
  max-width: 1920px;
  height: min(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
  transition: all 0.25s;
}

/* MAIN HEADING START */
.contactPage-container .main-heading-container {
  margin-bottom: 60px;
}
/* MAIN HEADING END */

@media (max-width: 992px) {
  .contactPage-container {
    height: min(100%);
    padding: 40px 0 80px 0;
  }

  @media (min-height: 1080px) {
    .contactPage-container {
      height: min(100vh);
    }
  }
}

@media (max-width: 576px) {
  .contactPage-container {
    padding: 120px 0 80px 0;
  }
}

/* MAIN CONTENT START */
.contactPage-container .main-content-container {
  width: 100%;
  max-width: 1300px;
  padding: 0 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 992px) {
  .contactPage-container .main-content-container {
    flex-direction: column;
    gap: 30px;
    padding: 0 10%;
  }
}

@media (max-width: 576px) {
  .contactPage-container .main-content-container {
    padding: 0 16px;
  }
}

/* LEFT CONTENT START */
.contactPage-container .main-content-container .left {
  flex: 4;
  height: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  padding: 0 10px;
}

.contactPage-container .main-content-container .left .heading {
  color: var(--contact-heading);
  font-family: var(--font-sans);
  text-transform: uppercase;
  font-size: 1.65rem;
  font-weight: 500;
}

@media (max-width: 576px) {
  .contactPage-container .main-content-container .left .heading {
    font-size: 1.35rem;
  }
}

.contactPage-container .main-content-container .left .description {
  color: var(--contact-heading);
  font-family: var(--font-sans);
  line-height: 1.5;
}

.contactPage-container .main-content-container .left .links-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  cursor: pointer;
}

.contactPage-container .main-content-container .left .links-container .link {
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.contactPage-container
  .main-content-container
  .left
  .links-container
  .link
  .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactPage-container
  .main-content-container
  .left
  .links-container
  .link
  .icon-container
  .icon {
  width: 36px;
  height: 36px;
  color: var(--contact-icons);
  box-shadow: 0px 10px 100px var(--contact-input-shadow);
}

.contactPage-container
  .main-content-container
  .left
  .links-container
  .link
  .info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: var(--contact-paragraph);
}

/* :hover */
@media (hover: hover) {
  .contactPage-container
    .main-content-container
    .left
    .links-container
    .link:hover
    .info {
    color: var(--contact-paragraph-hover);
  }
}

.contactPage-container
  .main-content-container
  .left
  .links-container
  .link
  .info
  .contact-context {
  text-transform: uppercase;
  opacity: 0.8;
}

.contactPage-container
  .main-content-container
  .left
  .links-container
  .link
  .info
  .contact-info {
  font-size: 1.1rem;
}
/* LEFT CONTENT END */

/* RIGHT CONTENT START */
.contactPage-container .main-content-container .right {
  flex: 8;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

@media (max-width: 768px) {
  .contactPage-container .main-content-container .right {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .contactPage-container .main-content-container .right {
    gap: 16px;
    padding: 0 12px;
  }
}

/* INPUT FIELDS START */
.contactPage-container .main-content-container .right .input-fields-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .contactPage-container
    .main-content-container
    .right
    .input-fields-container {
    flex-direction: column;
    gap: 10px;
  }
}

.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="text"],
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="email"] {
  width: 30%;
  border: 1px solid var(--contact-input-border);
  border-radius: 30px;
  height: 50px;
  background-color: var(--contact-input-background);
  color: var(--contact-input-text);
  padding: 0px 26px;
  outline: none;
  letter-spacing: 0.75px;
  font-family: var(--font-pure-mono);
  font-size: 16px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .contactPage-container
    .main-content-container
    .right
    .input-fields-container
    .contact-input[type="text"],
  .contactPage-container
    .main-content-container
    .right
    .input-fields-container
    .contact-input[type="email"] {
    width: 100%;
    border-radius: 16px;
  }
}

@media (max-width: 576px) {
  .contactPage-container
    .main-content-container
    .right
    .input-fields-container
    .contact-input[type="text"],
  .contactPage-container
    .main-content-container
    .right
    .input-fields-container
    .contact-input[type="email"] {
    font-size: 14px;
    padding: 0 22px;
  }
}

/* ::placeholder */
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="text"]::placeholder,
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="email"]::placeholder {
  color: var(--contact-input-placeholder);
  text-transform: uppercase;
  width: 100%;
  opacity: 0.7;
  transition: all 0.15s;
}

/* ::focus */
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="text"]:focus,
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="email"]:focus {
  outline: 2px solid var(--contact-input-border);
  box-shadow: 0px 10px 100px var(--contact-input-shadow);
  transform: translate(0, -3%);
  transition: transform 0.15s ease-out;
}

/* ::focus::placeholder */
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="text"]:focus::placeholder,
.contactPage-container
  .main-content-container
  .right
  .input-fields-container
  .contact-input[type="email"]:focus::placeholder {
  transform: translate(-200%, 0);
}
/* INPUT FIELDS END */

/* TEXTAREA START */
.contactPage-container .main-content-container .right .textarea-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.contactPage-container
  .main-content-container
  .right
  .textarea-container
  > textarea {
  width: 100%;
  border: 1px solid var(--contact-input-border);
  border-radius: 22px;
  height: 100%;
  background-color: var(--contact-input-background);
  color: var(--contact-input-text);
  padding: 16px 26px;
  outline: none;
  letter-spacing: 0.75px;
  font-family: var(--font-pure-mono);
  font-size: 16px;
  transition: transform 0.3s ease;
}

@media (max-width: 576px) {
  .contactPage-container
    .main-content-container
    .right
    .textarea-container
    > textarea {
    font-size: 14px;
    padding: 16px 22px;
  }
}

/* ::placeholder */
.contactPage-container
  .main-content-container
  .right
  .textarea-container
  > textarea::placeholder {
  color: var(--contact-input-placeholder);
  text-transform: uppercase;
  width: 100%;
  opacity: 0.7;
  font-size: 16px;
  transition: all 0.15s;
}

/* ::focus */
.contactPage-container
  .main-content-container
  .right
  .textarea-container
  > textarea:focus {
  outline: 2px solid var(--contact-input-border);
  box-shadow: 0px 10px 100px var(--contact-input-shadow);
  transform: translate(0, -1.5%);
  transition: transform 0.15s ease-out;
}

/* ::focus::placeholder */
.contactPage-container
  .main-content-container
  .right
  .textarea-container
  > textarea:focus::placeholder {
  transform: translate(-200%, 0);
}
/* TEXTAREA END */

.contactPage-container
  .main-content-container
  .right
  .textarea-container
  > textarea {
  width: 100%;
  resize: none;
}

/* BUTTON START */
.contactPage-container .main-content-container .right .btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contactPage-container .main-content-container .right .btn-container .btn {
  background-color: var(--button-background);
  color: var(--button-text);
  line-height: 1.5;
  width: 100%;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-family: var(--font-mono);
  outline: none;
  border: 1px solid var(--button-border);
  border-radius: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.15s ease-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* IF DISABLED */
.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn:disabled {
  opacity: 0.5;
}

.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn
  .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn
  .icon-container
  .icon {
  font-size: 20px;
}

@media (max-width: 576px) {
  .contactPage-container .main-content-container .right .btn-container .btn {
    font-size: 1.1rem;
  }
}

.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn::before,
.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn::after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0%;
  height: 100%;
  background-color: var(--button-pseudo-background-hover);
  border: none;
  border-radius: 16px;
  outline: none;
  opacity: 0.075;
  z-index: -1;
  transition: all 0.35s;
}

.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn::before {
  left: 0%;
}

/* :hover */
@media (hover: hover) {
  .contactPage-container
    .main-content-container
    .right
    .btn-container
    .btn:enabled:hover {
    transform: translateY(-5%);
    box-shadow: 0 5px 20px var(--button-shadow);
  }

  .contactPage-container
    .main-content-container
    .right
    .btn-container
    .btn:enabled:hover::after,
  .contactPage-container
    .main-content-container
    .right
    .btn-container
    .btn:enabled:hover::before {
    width: 100%;
  }
}

.contactPage-container
  .main-content-container
  .right
  .btn-container
  .btn:active {
  transform: translateY(0);
  box-shadow: 0 3px 5px var(--button-shadow);
}
/* BUTTON END */
/* RIGHT CONTENT END */
/* MAIN CONTENT END */
/* CONTACT PAGE END */
