/* MAIN */
.page-container {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  background: transparent;
  z-index: 999;
}

/* NAV ITEMS (SOCIALS & PAGES) */
.page-container .social-nav-container {
  position: fixed;
  left: 32px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page-container .page-nav-container {
  position: fixed;
  right: 32px;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-transform: uppercase;
}

.page-container .social-nav-container .nav-items-container,
.page-container .page-nav-container .nav-items-container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
  /* animation: 0.25s ease-in-out 0.5s backwards SlideFromLeft; */
}

.page-container .page-nav-container .nav-items-container {
  flex-direction: row-reverse;
  /* animation: 0.25s ease-in-out 0.5s backwards SlideFromRight; */
}

@media (max-width: 992px) {
  .page-container .social-nav-container .nav-items-container,
  .page-container .page-nav-container .nav-items-container {
    display: none;
  }
}

/* ICONS */
.page-container .social-nav-container .nav-items-container .icon-container,
.page-container .page-nav-container .nav-items-container .icon-container {
  display: inline-block;
  background-color: var(--nav-background);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: all 0.3s;
}

.page-container
  .page-nav-container
  .nav-items-container.active
  .icon-container {
  background-color: var(--nav-background-hover);
}

/* :hover */
.page-container
  .social-nav-container
  .nav-items-container:hover
  .icon-container,
.page-container .page-nav-container .nav-items-container:hover .icon-container,
.page-container
  .social-nav-container
  .nav-items-container:focus
  .icon-container,
.page-container .page-nav-container .nav-items-container:focus .icon-container {
  background-color: var(--nav-background-hover);
}

.page-container
  .social-nav-container
  .nav-items-container
  .icon-container
  .icon,
.page-container .page-nav-container .nav-items-container .icon-container .icon {
  font-size: 23px;
  color: var(--nav-icon);
  transition: all 0.4s;
}

.page-container
  .page-nav-container
  .nav-items-container.active
  .icon-container
  .icon {
  color: var(--nav-icon-hover);
}

/* :hover */
.page-container
  .social-nav-container
  .nav-items-container:hover
  .icon-container
  .icon,
.page-container
  .page-nav-container
  .nav-items-container:hover
  .icon-container
  .icon,
.page-container
  .social-nav-container
  .nav-items-container:focus
  .icon-container
  .icon,
.page-container
  .page-nav-container
  .nav-items-container:focus
  .icon-container
  .icon {
  color: var(--nav-icon-hover);
}
/* ICONS */

/* LINKS */
.page-container .social-nav-container .nav-items-container .link,
.page-container .page-nav-container .nav-items-container .link {
  display: inline-block;
  color: var(--nav-background);
  background-color: var(--nav-background);
  height: 50px;
  padding: 0 30px 0 20px;
  border-radius: 30px 0 0 30px;
  /* translate: -280px 0; */
  translate: -22px 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;

  transition: all 0.15s ease-out;
  text-decoration: none;
  opacity: 0;
  visibility: hidden;
}

.page-container .page-nav-container .nav-items-container .link {
  padding: 0 20px 0 30px;
  /* translate: 280px 0; */
  translate: 22px 0;
  text-align: left;
  border-radius: 0 30px 30px 0;
}

/* :hover */
.page-container .social-nav-container .nav-items-container:hover .link,
.page-container .page-nav-container .nav-items-container:hover .link {
  background-color: var(--nav-background-hover);
  height: 50px;
  padding: 0 30px;
  border-radius: 0 30px 30px 0;
  translate: -22px 0;
  opacity: 1;
  visibility: visible;
  box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.2);
}

/* :hover */
.page-container .page-nav-container .nav-items-container:hover .link {
  translate: 22px 0;
  border-radius: 30px 0 0 30px;
}

/* :hover:after */
.page-container .social-nav-container .nav-items-container:hover .link:after,
.page-container .page-nav-container .nav-items-container:hover .link:after,
.page-container .social-nav-container .nav-items-container:focus .link:after,
.page-container .page-nav-container .nav-items-container:focus .link:after {
  border-radius: 50%;
}
/* LINKS */
/* NAV ITEMS (SOCIALS & PAGES) */

/* MOBILE NAVBAR SECTION */
.page-container .mobile-navbar-container {
  width: 100%;
  height: 110px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

@media (max-width: 576px) {
  .page-container .mobile-navbar-container {
    padding: 0 26px;
    height: 67px;
    border-bottom: 1px solid var(--nav-background-hover);
    box-shadow: 0 10px 100px var(--nav-border-shadow);
    background-color: var(--main-background);
  }
}

/* LOGO */
.page-container .mobile-navbar-container .logo-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  user-select: none;
}

@media (max-width: 576px) {
  .page-container .mobile-navbar-container .logo-container {
    display: none;
  }
}

.page-container .mobile-navbar-container .logo-container .logo {
  margin: 0 0 0 -5px;
  width: 64px;
  object-fit: contain;
}

@media (max-width: 992px) {
  .page-container .mobile-navbar-container .logo-container .logo {
    /* display: none; */
    width: calc(0.9 * 64px);
  }
}
/* LOGO */

/* TITLE START */
.page-container .mobile-navbar-container .title {
  display: none;
  user-select: none;
  width: 100%;
}

.page-container .mobile-navbar-container .title .title-content {
  text-transform: uppercase;
  color: var(--nav-title);
  font-size: 1.65rem;
  font-weight: 900;
  font-family: var(--font-sans);
}

.page-container .mobile-navbar-container .title .title-content > span {
  color: var(--nav-title-span);
  text-shadow: 0px 10px 100px var(--about-input-shadow);
}

@media (max-width: 576px) {
  .page-container .mobile-navbar-container .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
/* TITLE END */

/* NAV MENU */
.page-container .mobile-navbar-container .menu-btn {
  background: transparent;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 999;
}

@media (hover: none) {
  .page-container .mobile-navbar-container .menu-btn {
    height: 35%;
    width: 27px;
  }

  @media (max-width: 576px) {
    .page-container .mobile-navbar-container .menu-btn {
      height: 25%;
      width: 26px;
    }
  }
}

@media (min-width: 992px) {
  .page-container .mobile-navbar-container .menu-btn {
    display: none;
  }
}

.page-container .mobile-navbar-container .menu-btn .bar {
  background-color: var(--nav-background-hover);
  height: 3px;
  width: 27px;
  border-radius: 4px;
  transition: all 0.25s;
}

/* .active */
.page-container .mobile-navbar-container .menu-btn.active .bar {
  background-color: var(--nav-icon);
}

.page-container .mobile-navbar-container .menu-btn.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(0, 300%);
}

.page-container .mobile-navbar-container .menu-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.page-container .mobile-navbar-container .menu-btn.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(0, -300%);
}

@media (max-width: 576px) {
  .page-container .mobile-navbar-container .menu-btn .bar {
    height: 2.5px;
    width: 25px;
  }
}

.page-container .mobile-navbar-container .mobile-menu-container {
  position: fixed;
  top: 0;
  left: -110vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0;
  padding: 110px 40px 10px 40px;
  height: min(100vh);
  width: min(100vw);
  opacity: 0;
  z-index: 990;
  transition: all 0.2s ease-out;
}

.page-container .mobile-navbar-container .mobile-menu-container.active {
  opacity: 1;
  left: 0;
}

@media (min-width: 992px) {
  .page-container .mobile-navbar-container .mobile-menu-container {
    display: none;
  }
}

@media (max-width: 780px) {
  .page-container .mobile-navbar-container .mobile-menu-container {
    padding: 110px 30px 10px 30px;
  }
}

@media (max-width: 560px) {
  .page-container .mobile-navbar-container .mobile-menu-container {
    padding: 110px 25px 10px 25px;
  }
}

/* :after */
.page-container .mobile-navbar-container .mobile-menu-container::after {
  background-color: var(--main-background);
  content: "";
  position: fixed;
  top: 0;
  left: -110vw;
  height: 100%;
  width: min(100vw);
  z-index: 990;
  transition: all 0.2s ease-out;
}

.page-container .mobile-navbar-container .mobile-menu-container.active::after {
  left: 0;
}

/* MENU ITEMS */
.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container {
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  padding: 16px 0;
  border-bottom: solid 1px var(--nav-icon);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  color: var(--nav-icon);
  font-weight: 400;
  z-index: 999;
  transition: all 0.2s;
}

.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container:last-child {
  border: none;
}

.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container.active {
  color: var(--nav-background-hover);
  font-weight: 500;
}

@media (hover: hover) {
  .page-container
    .mobile-navbar-container
    .mobile-menu-container
    .mobile-nav-items-container:hover {
    transform: translateX(10px);
  }
}

/* ICON */
.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container
  .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container
  .icon-container
  .icon {
  font-size: 1.6rem;
}

@media (max-width: 576px) {
  .page-container
    .mobile-navbar-container
    .mobile-menu-container
    .mobile-nav-items-container
    .icon-container
    .icon {
    font-size: 1.6rem;
  }
}
/* ICON */

/* LINK */
.page-container
  .mobile-navbar-container
  .mobile-menu-container
  .mobile-nav-items-container
  .link {
  font-size: 1.7rem;
}

@media (max-width: 576px) {
  .page-container
    .mobile-navbar-container
    .mobile-menu-container
    .mobile-nav-items-container
    .link {
    font-size: 1.2rem;
  }
}
/* LINK */
/* MENU ITEMS */
/* NAV MENU */
/* MOBILE NAVBAR SECTION */
/* MAIN */
