/* This class sets up the container for the entire application,
with a background color, full width and height, and centered content */
.app-container {
  background-color: var(--main-background);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* This class is for the layout component within the app-container,
which sets up the layout for the page content */
.app-container .layout {
  position: relative;
}
