/* This class sets up the container for the entire application,
with a background color, full width and height, and centered content */
.app-container {
  background-color: var(--main-background);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  animation: Flash 0.5s ease-in;
}

.app-container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url("https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg"); */
  background-image: url("../assets/main-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: center;
  opacity: 0.2;
  transition: all 0.35s ease;
}

/* This class is for the layout component within the app-container,
which sets up the layout for the page content */
.app-container .layout {
  position: relative;
  z-index: 10;
}
