:root {
  /* colors */
  --color-cyan: #64ffda;
  --color-cyan-op15: #64ffda26;
  --color-cyan-op35: #64ffda59;
  --color-black: #000;
  --color-navy: #0a192f;
  --color-navy-dark: #020c1b;
  --color-slate: #ccd6f6;
  --color-slate-dark: #a8b2d1;
  --color-slate-darker: #8892b0;
  --color-white: #e6f1ff;
  --color-white-op07: #ffffff12;

  /* fonts */
  --font-pure-mono: monospace, sans-serif;
  --font-mono: "PT Mono", sans-serif;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  /* background colors */
  --main-background: var(--color-navy);

  /* buttons */
  --button-text: var(--color-cyan);
  --button-border: var(--color-cyan);
  --button-background: transparent;
  --button-pseudo-background-hover: var(--color-cyan);
  --button-shadow: var(--color-black);

  /* navigation */
  --nav-background: var(--color-navy-dark);
  --nav-background-hover: var(--color-cyan);
  --nav-icon: var(--color-slate);
  --nav-title: var(--color-white);
  --nav-title-span: var(--color-cyan);
  --nav-icon-hover: var(--color-navy);
  --nav-border-shadow: var(--color-cyan-op15);

  /* home page */
  --home-paragraph: var(--color-slate-darker);
  --home-paragraph-highlighted: var(--color-cyan);
  --home-heading: var(--color-slate);
  --home-heading-faded: var(--color-slate-darker);
  --home-button-hover-color: var(--color-cyan);

  /* contact page */
  --contact-heading: var(--color-white);
  --contact-heading-faded: var(--color-white-op07);
  --contact-heading-span: var(--color-cyan);
  --contact-icons: var(--color-cyan);
  --contact-paragraph: var(--color-slate);
  --contact-paragraph-hover: var(--color-cyan);
  --contact-input-background: var(--color-navy-dark);
  --contact-input-text: var(--color-cyan);
  --contact-input-border: var(--color-cyan);
  --contact-input-placeholder: var(--color-white);
  --contact-input-shadow: var(--color-cyan-op35);

  /* about page */
  --about-text-white: var(--color-white);
  --about-text-slate: var(--color-slate);
  --about-text-slate-light: var(--color-slate-dark);
  --about-text-fade: var(--color-slate-darker);
  --about-text-cyan: var(--color-cyan);
  --about-shadow-cyan: var(--color-cyan-op15);
  --about-background-navy: var(--color-navy-dark);
}
