:root {
  /* background colors */
  --main-background: #0a192f;

  /* fonts */
  --font-pure-mono: monospace, sans-serif;
  --font-mono: "PT Mono", sans-serif;
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;

  /* buttons */
  --button-text: #64ffda;
  --button-border: #64ffda;
  --button-background: transparent;
  --button-pseudo-background-hover: #64ffda;
  --button-shadow: #000;

  /* navigation */
  --nav-background: #020c1b;
  --nav-background-hover: #64ffda;
  --nav-icon: #ccd6f6;
  --nav-title: #e6f1ff;
  --nav-title-span: var(--nav-background-hover);
  --nav-icon-hover: var(--main-background);
  --nav-border-shadow: rgba(100, 255, 218, 0.15);

  /* home page */
  --home-paragraph: #8892b0;
  --home-paragraph-highlighted: var(--nav-background-hover);
  --home-heading: var(--nav-icon);
  --home-heading-faded: var(--home-paragraph);
  --home-button-hover-color: var(--nav-background-hover);

  /* contact page */
  --contact-heading-faded: rgb(255 255 255 / 7%);
  --contact-heading: #e6f1ff;
  --contact-heading-span: var(--nav-background-hover);
  --contact-icons: var(--contact-heading-span);
  --contact-paragraph: var(--nav-icon);
  --contact-paragraph-hover: var(--contact-heading-span);
  --contact-input-background: #020c1b;
  --contact-input-text: var(--contact-heading-span);
  --contact-input-border: var(--contact-input-text);
  --contact-input-placeholder: var(--contact-heading);
  --contact-input-shadow: rgba(100, 255, 218, 0.35);

  /* about page */
  --about-text-white: var(--contact-heading);
  --about-text-slate: var(--nav-icon);
  --about-text-slate-light: #a8b2d1;
  --about-text-cyan: var(--nav-background-hover);
  --about-text-fade: var(--home-paragraph);
  --about-shadow-cyan: rgba(100, 255, 218, 0.15);
  --about-background-navy: #020c1b;
}
